openapi: 3.0.0
info:
    title: some API
    version: v1.0.0
servers:
    - url: https://some-service.stage
      description: stage
    - url: https://some-service.prod
      description: prod
paths:
    /v1/exampleService/get:
        post:
            tags:
                - ExampleService
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            required:
                                - id
                                - jsonrpc
                            properties:
                                id:
                                    example: 1
                                    oneOf:
                                        - type: number
                                        - type: string
                                          format: uuid
                                jsonrpc:
                                    type: string
                                    example: "2.0"
                                params:
                                    $ref: '#/components/schemas/requestExampleServiceGet'
            responses:
                "200":
                    description: Successful operation
                    content:
                        application/json:
                            schema:
                                oneOf:
                                    - type: object
                                      required:
                                        - id
                                        - jsonrpc
                                      properties:
                                        id:
                                            example: 1
                                            oneOf:
                                                - type: number
                                                - type: string
                                                  format: uuid
                                        jsonrpc:
                                            type: string
                                            example: "2.0"
                                        result:
                                            $ref: '#/components/schemas/responseExampleServiceGet'
                                    - type: object
                                      required:
                                        - id
                                        - jsonrpc
                                        - error
                                      properties:
                                        error:
                                            type: object
                                            properties:
                                                code:
                                                    type: number
                                                    format: int32
                                                    example: -32603
                                                data:
                                                    type: object
                                                    nullable: true
                                                message:
                                                    type: string
                                                    example: not found
                                        id:
                                            example: 1
                                            oneOf:
                                                - type: number
                                                - type: string
                                                  format: uuid
                                        jsonrpc:
                                            type: string
                                            example: "2.0"
components:
    schemas:
        requestExampleServiceGet:
            type: object
            required:
                - req
            properties:
                req:
                    $ref: '#/components/schemas/types.BaseRequest'
        responseExampleServiceGet:
            type: object
            required:
                - resp
            properties:
                resp:
                    oneOf:
                        - $ref: '#/components/schemas/types.BaseResponse'
                        - nullable: true
        types.BaseRequest:
            type: object
            properties:
                A:
                    type: string
        types.BaseResponse:
            type: object
            properties:
                payload:
                    type: string
